// footer
.footer {
    padding: 50px 0 0;

    .intro {
        margin-bottom: 30px;

        .logo {
            width: 185px;
            margin-bottom: 20px;

            @include maxLgScreen {
                width: 120px;
            }
        }

        .social-icons {
            a {
                width: 35px;
                height: 35px;
                display: block;
                margin: 0 5px;
                text-align: center;
                line-height: 35px;
                color: rgba(#000, .5);
                border-radius: 50%;
                background: rgba(#fff, .2);
                font-size: 19px;
                transition: all .5s;

                &:hover {
                    background: $mainColor;
                    color: #fff;
                }
            }
        }
    }

    .links {
        margin-bottom: 30px;

        h5 {
            font-size: 18px;
            margin-bottom: 20px;
            color: #fff;
            position: relative;
            display: inline-block;

            &::after {
                content: "";
                width: 60%;
                height: 5px;
                background: $mainColor;
                display: block;
                margin: 7px 0;
            }
        }

        a {
            color: rgba(#fff, .7);
            display: inline-block;
            margin-bottom: 5px;
            font-size: 14px;
            transition: all .5s;

            &:hover {
                color: $mainColor;
            }
        }
    }

    .copyright {
        background: $darkColor;
        color: rgba(#fff, .5);
        padding: 20px 0;

        p {
            margin: 0;
        }
    }
}