.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.heading {
    &-text {
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 45px;
        position: relative;

        &::after {
            content: "";
            border-style: solid;
            border-width: 13px;
            border-color: $mainColor transparent transparent transparent;

            position: absolute;
            left: 50%;
            top: 45px;
            transform: translateX(-50%);
        }
    }
}