// our-story section
.our-story {
    padding: 60px 0 30px;
    .logo-image {
        max-width: 380px;
    }
    .intro {
        .intro-text {
            font-size: 16px;
            font-weight: 500;
        }
    }
}
// banner section
.banner {
    min-height: 400px;
}