// main section
.main-section.contact {
    background-color: $grayBg;
}

// contact info section
.contact-info {
    padding: 60px 0 30px;
    background: $grayBg;

    .box {
        background: #fff;
        padding: 30px 10px;
        font-size: 20px;
        margin-top: 30px;
        box-shadow: 0px 3px 6px rgba(#000, 0.1);
        .icon {
            background: $mainColor;
            color: #fff;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            font-size: 35px;
            margin: auto;
            margin-top: -80px;
            border: 12px solid $grayBg;
            i {
                margin: auto;
            }
        }
        .phones-links,
        .email-links {
            li {
                a {
                    color: rgba(#000, .5);
                    padding: 12px 10px;
                    display: block;
                    font-weight: 500;

                }

                &:not(:last-of-type) {
                    a {
                        border-bottom: 2px solid $grayBg;
                    }
                }
            }
        }
    }
}