.team {
    padding: 60px 0 20px;

    .person-info {
        line-height: 1;
        margin-bottom: 40px;

        &:hover {
            .image-container {
                border-color: $mainColor;

                img {
                    transform: scale(1.2);
                }
            }

        }

        .image-container {
            width: 135px;
            height: 135px;
            margin: auto;
            border-radius: 50%;
            border: 2px solid transparent;
            padding: 3px;
            transition: all .3s;

            .person-image {
                overflow: hidden;
                border: 1px solid #ADADAD;
            }

            img,
            .person-image {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                transition: all .3s;
                object-fit: cover;
            }
        }

        .person-name {
            font-size: 24px;
            font-weight: 600;
            margin: 0;
        }

        .person-role {
            opacity: .5;
            margin: 5px 0 10px;
        }

        .social-links {
            margin: 0;

            a {
                color: #fff;
                width: 30px;
                height: 30px;
                display: block;
                margin: 0 5px;
                text-align: center;
                line-height: 30px;
                border-radius: 50%;
                font-size: 15px;

                &.facebook {
                    background: #3b5999;
                }

                &.linkedin {
                    background: #0077B5;
                }

                &.twitter {
                    background: #55acee;
                }
            }
        }
    }
}