.our-story {
  padding: 60px 0 30px;
}

.our-story .logo-image {
  max-width: 380px;
}

.our-story .intro .intro-text {
  font-size: 16px;
  font-weight: 500;
}

.banner {
  min-height: 400px;
}
/*# sourceMappingURL=about-us.css.map */