.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.heading-text {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 45px;
  position: relative;
}

.heading-text::after {
  content: "";
  border-style: solid;
  border-width: 13px;
  border-color: #189BF2 transparent transparent transparent;
  position: absolute;
  left: 50%;
  top: 45px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

img {
  max-width: 100%;
}

.main-section {
  min-height: 100vh;
  color: #fff;
  padding: 125px 0 60px;
}

.main-section .intro .heading {
  font-size: 50px;
  font-weight: bold;
}

@media (max-width: 991.98px) {
  .main-section .intro .heading {
    font-size: 35px;
  }
}

.main-section .intro p {
  margin: 20px 0;
  font-size: 18px;
}

@media (max-width: 575.98px) {
  .main-section .intro p {
    font-size: 16px;
  }
}

.portfolio .portfolio-item {
  position: relative;
}

.portfolio .portfolio-item .image-container {
  position: relative;
  padding-top: 84%;
  overflow: hidden;
}

.portfolio .portfolio-item .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.portfolio .portfolio-item .intro {
  padding: 20px;
}

.portfolio .portfolio-item .intro .title {
  color: #fff;
  font-weight: 600;
  letter-spacing: 5px;
  margin-bottom: 25px;
  font-size: 40px;
}

.portfolio .portfolio-item .intro .main-btn i {
  -webkit-transition: padding .5s;
  transition: padding .5s;
}

.portfolio .portfolio-item .intro .main-btn:hover i {
  padding: 0 10px;
}

.portfolio .portfolio-item .work-info .content {
  height: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 575.98px) {
  .portfolio .portfolio-item .work-info .content {
    padding: 5px;
  }
}

.portfolio .portfolio-item .work-info .content .info {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.portfolio .portfolio-item .work-info .content .info .title {
  color: #0293fe;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 575.98px) {
  .portfolio .portfolio-item .work-info .content .info .title {
    font-size: 22px;
  }
}

.portfolio .portfolio-item .work-info .content .info .tag {
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
}

@media (max-width: 575.98px) {
  .portfolio .portfolio-item .work-info .content .info .tag {
    font-size: 12px;
  }
}

.portfolio .portfolio-item .work-info .content .links {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: translateY(800px);
          transform: translateY(800px);
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.portfolio .portfolio-item .work-info .content .links a {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin: 0 5px;
  border-radius: 4px;
  font-size: 18px;
  height: 38px;
  line-height: 38px;
  width: 38px;
  text-align: center;
}

@media (max-width: 575.98px) {
  .portfolio .portfolio-item .work-info .content .links a {
    font-size: 14px;
    width: 33px;
    height: 33px;
    line-height: 33px;
  }
}

.portfolio .portfolio-item:hover .work-info .content {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.portfolio .portfolio-item:hover .work-info .content .info,
.portfolio .portfolio-item:hover .work-info .content .links {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.testimonials {
  padding: 50px 0;
}

.testimonials-slider .slick-dots {
  padding: 0;
  margin: 0;
}

.testimonials-slider .slick-dots li {
  -webkit-transition: all .5s;
  transition: all .5s;
  border: 1px solid #189BF2;
  padding: 5px;
  cursor: pointer;
  margin: 5px;
  border-radius: 50%;
  display: inline-block;
}

.testimonials-slider .slick-dots li button {
  display: none;
}

.testimonials-slider .slick-dots li.slick-active {
  background: #189BF2;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.testimonials-slider .slick-arrow {
  position: absolute;
  top: 50%;
  color: #189BF2;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: .5;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 30px;
  left: 10px;
  z-index: 5;
}

.testimonials-slider .slick-arrow:hover {
  opacity: 1;
}

.testimonials-slider .slick-arrow.next-arrow {
  right: 10px;
  left: auto;
}

.testimonials-slider .slider-item {
  min-height: 400px;
  cursor: move;
}

.testimonials-slider .slider-item .person-name {
  color: #189BF2;
  font-weight: bold;
  font-size: 24px;
}

.testimonials-slider .slider-item img {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  background: #fff;
  padding: 5px;
  border: 1px solid #189BF2;
}

.testimonials-slider .slider-item .text {
  font-size: 18px;
  margin-top: 40px;
}

.contact-us {
  padding: 60px 0;
}

.contact-us .heading-text {
  color: #fff;
}

.contact-us .heading-text::after {
  border-color: #fff transparent transparent transparent;
}

.contact-us form .main-btn {
  margin-top: 50px;
}

.map iframe {
  width: 100%;
  height: 400px;
  border: 0;
  display: block;
}

.article {
  padding: 70px 0 40px;
}

.article:nth-of-type(odd) {
  background: #F8F8F8;
}

@media (min-width: 768px) {
  .article:nth-of-type(even) .article-cover {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .article:nth-of-type(even) .article-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.article .article-cover {
  position: relative;
}

.article .article-cover:after, .article .article-cover::before {
  content: "";
  width: 35%;
  height: 35%;
  display: block;
  z-index: 1;
  position: absolute;
}

.article .article-cover::after {
  top: -9px;
  left: 5px;
  border-top: 20px solid rgba(24, 155, 242, 0.4);
  border-left: 20px solid rgba(24, 155, 242, 0.4);
}

.article .article-cover::before {
  bottom: -9px;
  right: 5px;
  border-bottom: 20px solid rgba(24, 155, 242, 0.4);
  border-right: 20px solid rgba(24, 155, 242, 0.4);
}

.article .article-image {
  position: relative;
  padding-top: 79.5%;
  overflow: hidden;
}

.article .article-image img, .article .article-image::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.article .article-image::after {
  content: "";
  background: rgba(24, 155, 242, 0.1);
}

.article .article-content .article-title {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: bold;
}

.article .article-content .article-text {
  font-size: 18px;
}

.work-info-modal .modal-header {
  border: none;
  padding: 0;
}

.work-info-modal .modal-header .close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.work-info-modal .modal-header .close-icon:hover {
  background: #189BF2;
}

.work-info-modal .modal-body {
  padding: 0;
}

.work-info-modal .modal-body .article .article-cover:after, .work-info-modal .modal-body .article .article-cover::before {
  display: none;
}

.main-btn {
  background: #189BF2;
  color: #fff;
  padding: 8px 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-weight: 500;
  border-radius: 20px;
}

.main-btn:hover {
  color: #189BF2;
  background: #fff;
  border-color: #189BF2;
}

.main-btn.white-btn {
  color: #189BF2;
  background: #fff;
}

.main-btn.white-btn:hover {
  background: #189BF2 !important;
  color: #fff;
  border-color: #fff;
}

.input, .textarea {
  height: 40px;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: transparent;
}

.input:focus, .textarea:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: #fff;
  background: transparent;
  color: #fff;
}

.textarea {
  min-height: 115px;
}

.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}

.input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8) !important;
}

.input::-ms-input-placeholder, .textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8) !important;
}

.input::placeholder, .textarea::placeholder {
  color: rgba(255, 255, 255, 0.8) !important;
}

.header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header.sticky {
  padding: 0;
  background: #fff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.header.sticky .main-navbar .navbar-brand {
  background-position: 0 -45px;
}

@media (max-width: 575.98px) {
  .header.sticky .main-navbar .navbar-brand {
    background-position: 0 calc(-100% + 4px);
  }
}

.header.sticky .main-navbar .nav-link {
  color: #000 !important;
}

.header.sticky .main-navbar .nav-link::before {
  background: #189BF2;
}

.header.sticky .menu-icon span {
  background: #000;
}

.header .main-navbar .navbar-brand {
  width: 225px;
  height: 34px;
  background-position: 0 -5px;
  background-size: cover;
}

@media (max-width: 575.98px) {
  .header .main-navbar .navbar-brand {
    width: 170px;
    background-position: 0 4px;
  }
}

.header .main-navbar .nav-item {
  text-align: center;
}

.header .main-navbar .nav-item.active .nav-link::before, .header .main-navbar .nav-item:hover .nav-link::before {
  width: 100%;
}

.header .main-navbar .nav-item:not(:last-of-type) {
  margin-right: 22px;
}

@media (max-width: 991.98px) {
  .header .main-navbar .nav-item {
    margin: 10px 0 !important;
  }
}

.header .main-navbar .nav-link {
  color: #fff !important;
  display: inline-block;
  padding: 0;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header .main-navbar .nav-link::before {
  content: "";
  width: 0;
  height: 5px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -4px;
  display: block;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 991.98px) {
  .header .main-navbar .navbar-collapse {
    background: #fff;
    padding: 15px 0;
  }
  .header .main-navbar .navbar-collapse .nav-link {
    color: #000 !important;
  }
  .header .main-navbar .navbar-collapse .nav-link::before {
    background: #189BF2 !important;
  }
}

@media (max-width: 1199.98px) {
  .header .main-navbar .navbar-collapse {
    margin-top: 10px;
  }
}

.header .menu-icon {
  cursor: pointer;
  border: none;
}

.header .menu-icon span {
  display: block;
  height: 3px;
  width: 30px;
  background: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 90%;
          transform-origin: 90%;
}

.header .menu-icon span:nth-of-type(2) {
  margin: 6px 0;
}

.header .menu-icon:not(.collapsed) span:first-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-icon:not(.collapsed) span:nth-of-type(2) {
  opacity: 0;
}

.header .menu-icon:not(.collapsed) span:last-of-type {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer {
  padding: 50px 0 0;
}

.footer .intro {
  margin-bottom: 30px;
}

.footer .intro .logo {
  width: 185px;
  margin-bottom: 20px;
}

@media (max-width: 1199.98px) {
  .footer .intro .logo {
    width: 120px;
  }
}

.footer .intro .social-icons a {
  width: 35px;
  height: 35px;
  display: block;
  margin: 0 5px;
  text-align: center;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  font-size: 19px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.footer .intro .social-icons a:hover {
  background: #189BF2;
  color: #fff;
}

.footer .links {
  margin-bottom: 30px;
}

.footer .links h5 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.footer .links h5::after {
  content: "";
  width: 60%;
  height: 5px;
  background: #189BF2;
  display: block;
  margin: 7px 0;
}

.footer .links a {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.footer .links a:hover {
  color: #189BF2;
}

.footer .copyright {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  padding: 20px 0;
}

.footer .copyright p {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */