.team {
  padding: 60px 0 20px;
}

.team .person-info {
  line-height: 1;
  margin-bottom: 40px;
}

.team .person-info:hover .image-container {
  border-color: #189BF2;
}

.team .person-info:hover .image-container img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.team .person-info .image-container {
  width: 135px;
  height: 135px;
  margin: auto;
  border-radius: 50%;
  border: 2px solid transparent;
  padding: 3px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.team .person-info .image-container .person-image {
  overflow: hidden;
  border: 1px solid #ADADAD;
}

.team .person-info .image-container img,
.team .person-info .image-container .person-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
  -o-object-fit: cover;
     object-fit: cover;
}

.team .person-info .person-name {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.team .person-info .person-role {
  opacity: .5;
  margin: 5px 0 10px;
}

.team .person-info .social-links {
  margin: 0;
}

.team .person-info .social-links a {
  color: #fff;
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 5px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 15px;
}

.team .person-info .social-links a.facebook {
  background: #3b5999;
}

.team .person-info .social-links a.linkedin {
  background: #0077B5;
}

.team .person-info .social-links a.twitter {
  background: #55acee;
}
/*# sourceMappingURL=our-team.css.map */